<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="myConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="myFile"
			fileName="/Users/guludada/Desktop/logs/app.log"
			filePattern="/Users/guludada/Desktop/logs/app-%d{yyyy-MM-dd-HH}.log">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="Info">
			<AppenderRef ref="myConsole" />
			<AppenderRef ref="myFile" />
		</Root>
	</Loggers>
</Configuration>
